<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FotoImportMagento.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FotoImportMagento.Properties.Settings>
            <setting name="FotoImportMagento_MagentoAPI_MagentoService" serializeAs="String">
                <value>http://sklep03.centerkom.pl/index.php/api/v2_soap/index/</value>
            </setting>
        </FotoImportMagento.Properties.Settings>
        <Import.Properties.Settings>
            <setting name="Import_MagentoAPI_MagentoService" serializeAs="String">
                <value>http://sklep03.centerkom.pl/index.php/api/v2_soap/index/</value>
            </setting>
        </Import.Properties.Settings>
    </applicationSettings>
</configuration>